@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
body {
    margin: 0;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}
.flex {
    display: flex;
}
.welcome {
    font-family: 'Bangers', cursive;
    color: #ffffff;
}

/* 360px */
@media (max-width: 360px) {
    .welcome {
        text-align: center;
        font-size: 30px;
        margin: 70px 0 50px 0;
    }
    .welcome::first-letter {
        color: rgb(255, 165, 0);
        font-size: 80px;
    }
}
@media (max-width: 360px) {
    .welcome img {
        width: 75%;
    }
}
@media (max-width: 360px) {
    .logo {
        background-color: rgb(255, 165, 0);
        width: 100%;
        height: 45px;
        position: fixed;
        top: 0;
        z-index: 1;
    }
}
@media (max-width: 360px) {
    .logo img {
        margin-left: 5px;
    }
}

/* first block*/
@media (max-width: 360px) {
    .block1 {
        background-color: rgb(255, 165, 0);
        font-family: 'Bangers', cursive;
        text-align: center;
    }
}
@media (max-width: 360px) {
    .block1 {
        width: 84%;
        height: 600px;
        border-radius: 14px;
        margin: auto;
    }
}
@media (max-width: 360px) {
    .block1h2 {
        font-size: 20px;
        position: relative;
        top: 15px;
    }
}
@media (max-width: 360px) {
    .block1 video {
        border: 2px solid #ffffff;
        border-radius: 10px;
        width: 90%;
    }
}
@media (max-width: 360px) {
    .block1 button {
        background-color: #000000;
        font-size: large;
        border-radius: 8px;
        border: none;
        padding: 8px;
        position: relative;
        top: 300px;
    }
}
@media (max-width: 360px) {
    .block1 a {
        text-decoration: none;
        color: #ffffff;
        font-family: 'Bangers', cursive;
    }
}
/* contact block */
@media (max-width: 360px) {
    .contactblock {
        border: 2px solid aqua;
        border-radius: 15px;
        width: 90%;
        height: 250px;
        margin: 30px auto 30px auto;
    }
}
@media (max-width: 360px) {
    .contactblock div {
        color: #ffffff;
        text-align: center;
    }
}
@media (max-width: 360px) {
    .btncontact {
        list-style: none;
    }
}
@media (max-width: 360px) {
    .btncontact li {
        background-color: aqua;
    }
}
@media (max-width: 360px) {
    .btncontact a {
        text-decoration: none;
        color: #000000;
    }
}

/* btn share */
@media (max-width: 360px) {
    #share {
        text-align: center;
    }
}
@media (max-width: 360px) {
    #share button {
        padding: 15px 30px;
        font-size: 18px;
        outline: none;
        border: none;
        border-radius: 10px;
        transition: 0.5s;
        background: #1e1e1e;
        color: rgb(255, 255, 255);
        box-shadow: 0 0 10px #363636, inset 0 0 10px #363636;
    }
}

/* form */
@media (max-width: 360px) {
    .form {
        background-color: aqua;
        width: 80%;
        height: 150px;
        margin: 0 auto 0 auto;
        text-align: center;
        border-radius: 10px;
        color: #fcfcfc;
    }
}
@media (max-width: 360px) {
    .form1 {
       position: relative;
       top: 50%;
       transform: translateY(-50%);
    }
}
@media (max-width: 360px) {
    .form1 select {
        margin-bottom: 15px;
    }
}
@media (max-width: 360px) {
    .inputtext {
        margin: 15px;
    }
}
@media (max-width: 360px) {
    .inputphone {
        margin: 15px;
    }
}

/* footer */
@media (max-width: 360px) {
    footer {
        background-color: rgb(255, 165, 0);
        width: 100%;
    }
}
@media (max-width: 360px) {
    #createdby {
        color: #000000;
        font-size: 15px;
        margin-top: 50px;
        text-align: center;
    }
}